---
import FinalSummaryWrapper from '../../components/pricing/shopping-cart/FinalSummaryWrapper'
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<div class="step-section">
  <div class="step-container">
    <div class="step-title">
      <p>My Home</p>
    </div>

    <BaseLayout title="Estimate Summary">
      
      <div class="summary-container">
        <FinalSummaryWrapper client:only="react"></FinalSummaryWrapper>
      </div>
    
    </BaseLayout>

      


  </div>
</div>

<style>
  *{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
  }

  .summary-container{
    min-height: 100vh;
  }

  

</style>