---
import BaseLayout from "../../layouts/BaseLayout.astro"
import FormStep1 from "../../components/pricing/FormStep1.jsx"
---

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

<BaseLayout title="Home Type">
  <div class="step-section">
    <div class="step-container">
      <div class="step-title">
        <p>Get your pricing</p>
        <p class="colored">Quickly and Easily</p>
      </div>
        <FormStep1 client:only="react"></FormStep1>
    </div>
  </div>
</BaseLayout>



<style>
  *{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
  }

  .step-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    background-color: #FFF4E4;
  }

  .step-container{
    width: 900px;
    height: 550px;
    background-color: #FBFCF8;  
  }

  .step-title{
    font-size: 36px;
    margin-top: 72px;
    font-weight: bold;
    text-align: center;
  }

  .colored{
    color: #DE9C38;
    -webkit-text-stroke: 1px black;
  }

</style>