---
import ZipCode from '../../components/pricing/ZipCode.jsx';
---

<div class="hero-overlay-container">
  <img class="hero-img" src="/maids-banner.jpeg" alt="">
  <div class="img-overlay"></div>
  <div class="hero-banner">
    <div class="step-container">
      <div class="title-container">
        <div class="main-title">
          <p>Get your</p>
          <p class="colored">FREE Estimate</p>
        </div>
        <div class="title-description">
          <p>Get a quick estimate by providing a few details about your home.</p>
        </div>
      </div>
      <ZipCode client:only="react"/>
    </div>
  </div>
</div>


<style>
  
  .hero-banner{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #FBFCF8;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
  }

 .hero-overlay-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    filter: blur(8px)
  }

  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: -1;
    pointer-events: none;
  }

  .step-container{
    width: 600px;
    height: 350px;
    background-color: #FBFCF8;
  }

  .title-container{
    margin-top: 48px;
    text-align: center;
  }

  .main-title p{
    font-size: 28px;
    margin-top: 12px;
    font-weight: bold;
  }

  .colored{
    color: #F5B452;
  }

  .title-description{
    margin-top: 12px;
    font-size: 18;
    font-style: italic;
  }


 
</style>