---
import BaseLayout from "../../layouts/BaseLayout.astro"
import HomeCondition from "../../components/pricing/HomeCondition.jsx"
---

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

<BaseLayout>
  <div class="step-section">
    <div class="step-container">
      <div class="step-title">
        <!-- <p class="pro-services">Have you had professional cleaning services in the last 90 days?</p> -->
        <p class="pro-services">Has your home been cleaned in the last 90 days? (or do you just enjoy marinating in your own filth)</p>
      </div>
        <HomeCondition client:only="react"></HomeCondition>
    </div>
  </div>
</BaseLayout>



<style>
  *{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
  }

  .step-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    background-color: #FFF4E4;
  }

  .step-container{
    width: 900px;
    height: 550px;
    background-color: #FBFCF8;  
  }

  .step-title{
    font-size: 36px;
    margin-top: 72px;
    font-weight: bold;
    text-align: center;
  }

  .colored{
    color: #DE9C38;
    -webkit-text-stroke: 1px black;
  }

  .pro-services{
    width: 600px;
    margin: 0 auto;
  }

</style>