---
import Head from '../../components//layout/Head.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'

// @ts-ignore
import ContextWrapper from '../../components/pricing/shopping-cart/ContextWrapper'
---

<Head></Head>
<BaseLayout>
  <div class="shopping-cart-main-container">
    <ContextWrapper client:only="react"></ContextWrapper>
  </div>
  

</BaseLayout>

<style>
  .shopping-cart-main-container{
    min-height: 100vh;
  }
</style>
