---
import Head from '../../components/layout/Head.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import ShoppingCartComponent from '../../components/pricing/ShoppingCart'
---

<BaseLayout title="Shopping Cart">
  <div class="shopping-cart-main-container">
    <ShoppingCartComponent client:only="react"/>
  </div>
</BaseLayout>

<style>
  .shopping-cart-main-container {
    min-height: 100vh;
  }
</style>
