//------------------------------- COLORS ---------------------------- //


// Primary Colors
$primary-color-dark: #FC8551;

// Secondary Colors
$secondary-color-light: #E2EFE4;

//
$tertiary-color-light: #E2EFE4;

// Neutral Colors


// Text Colors
$primary-text: #303030;
$secondary-text: #FFFBFA;
$tertiary-text: #299c36;
$neutral-text: #8A8A8A;
$highlight-text:#FC8551;

// Background Colors
$background-light: #FFFBFA;
$background-dark: #434343;
$background-darker: #303030;
$background-neutral: #EDEDED;

$background-positive: #78CC82;
$background-positive-b: #409D40;

// Status Colors


//------------------------------- TYPOGRAPHY ---------------------------- //

// font Families
$font-primary: "Lato", sans-serif;
$font-secondary: "Merriweather", serif;


// Font Sizes
$font-size-12: 1.2rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-28: 2.8rem;
$font-size-36: 3.6rem;
$font-size-42: 4.2rem;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Line Heights
$line-height-13: 1.2;
$line-height-15: 1.5;
$line-height-18: 1.8;

//Letter Spacing
$letter-spacing-005: 0.05rem;
$letter-spacing-01: 0.1rem;
$letter-spacing-02: 0.2rem;



//------------------------------- SPACING ---------------------------- //

$spacing-4: 0.4rem;
$spacing-6: 0.6rem;
$spacing-8: 0.8rem;
$spacing-12: 1.2rem;
$spacing-16: 1.6rem;
$spacing-24: 2.4rem;
$spacing-32: 3.2rem;
$spacing-40: 4rem;
$spacing-48: 4.8rem;
$spacing-64: 6.4rem;