---
import SectionHeading from "../SectionHeading";

const title = `Our clients say it best!`
const subtitle = `From first impressions to lasting relationships— here’s what they share.`
---

<div class="reviews-section">
  <SectionHeading title={ title } subtitle={ subtitle }/>
  <div class="reviews-container">
    <div class="elfsight-app-5e115890-2b77-4508-aeb7-8488856a99ab" data-elfsight-app-lazy></div>
  </div>
</div>