---
import FinalCTA from "./FinalCTA"
---

<footer class="footer">

  <div class="footer__content">
    <div class="footer__logo">
      <a href="/" class="footer__logo-link">
        <div class="footer__logo-img">
          <img src="/allbright-logo.png" alt="Allbright Home Services Logo">
        </div>
        <div class="footer__logo-text">
          <span>ALLBRIGHT HOME SERVICES</span>
        </div>
      </a>
    </div>
  
    <div class="footer__links">

      <div class="footer__column">
        <div class="footer__contact">
          <div class="footer__email">
            <img src="/footer/icon-email.png" alt="Email">
            <span><a href="mailto:contact@allbrighths.com">contact@allbrighths.com</a></span>
          </div>
          <div class="footer__phone">
            <img src="/footer/icon-phone.png" alt="Phone">
            <span><a href="tel:+14082801234">(408) - 280 - 1234</a></span>
          </div>
        </div>

        <div class="footer__social">
          <a href="https://www.facebook.com/profile.php?id=61578145885811" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
            <img src="/footer/icon-fb.png" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/allbrighths/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <img src="/footer/icon-ig.png" alt="Instagram">
          </a>
        </div>

        <div class="footer__cta">
          <FinalCTA 
            secondaryCta="Book a FREE Consultation"
            buttonClass="primary-cta" client:only="react" />
        </div>
      </div>
  

      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/our-services/recurring-services/weekly-maid-services">Weekly Maid Services</a>
          </li>
          <li class="footer__item">
            <a href="/our-services/recurring-services/bi-monthly-maid-services">Bi-Monthly Maid Services</a>
          </li>
          <li class="footer__item">
            <a href="/our-services/recurring-services/monthly-maid-services">Monthly Maid Services</a>
          </li>
        </ul>
      </div>
  
      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/our-services/one-time-services/one-time-maid-services">One-Time Maid Services</a>
          </li>
          <li class="footer__item">
            <a href="/our-services/one-time-services/deep-cleaning">Deep Cleaning</a>
          </li>
          <li class="footer__item">
            <a href="/our-services/one-time-services/carpet-cleaning">Carpet Cleaning</a>
          </li>
          <li class="footer__item">
            <a href="/our-services/one-time-services/window-washing">Window Washing</a>
          </li>
        </ul>
      </div>
  
      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/our-services/one-time-services/home-detailing-cleaning">Home Detailing</a>
          </li>
          <li class="footer__item">
            <a href="/our-services/one-time-services/move-in-ready">Move in Ready</a>
          </li>
        </ul>
      </div>
  
      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/about-us">About Us</a>
          </li>
          <li class="footer__item">
            <a href="/contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__copyright">
    <span>© 2025 Allbright Home Services | All Rights Reserved</span>
  </div>
</footer>
