---
import CTAButton from "../buttons/CTAButton"
---

<footer class="footer">

  <div class="footer__content">
    <div class="footer__logo">
      <a href="/" class="footer__logo-link">
        <div class="footer__logo-img">
          <img src="/allbright-logo.png" alt="Allbright Home Services Logo">
        </div>
        <div class="footer__logo-text">
          <span>ALLBRIGHT HOME SERVICES</span>
        </div>
      </a>
    </div>
  
    <div class="footer__links">
      <div class="footer__column">
        <div class="footer__social">
          <img src="/footer/icon-fb.png" alt="Facebook">
          <img src="/footer/icon-twitter.png" alt="Twitter">
          <img src="/footer/icon-ig.png" alt="Instagram">
        </div>
        <div class="footer__contact">
          <div class="footer__phone">
            <img src="/footer/icon-phone.png" alt="Phone">
            <span><a href="#">(555) - 555 - 5555</a></span>
          </div>
          <div class="footer__email">
            <img src="/footer/icon-email.png" alt="Email">
            <span><a href="#">contact@allbright.com</a></span>
          </div>
        </div>
        <div class="footer__cta">
          <CTAButton href="#" text="Check Prices" buttonClass="primary-cta"/>
        </div>
      </div>
  
      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item"><a href="#">House Cleaning</a></li>
          <li class="footer__item"><a href="#">Deep Cleaning</a></li>
          <li class="footer__item"><a href="#">Housekeeping</a></li>
          <li class="footer__item"><a href="#">Carpet Cleaning</a></li>
        </ul>
      </div>
  
      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item"><a href="#">Who we are</a></li>
          <li class="footer__item"><a href="#">Areas we serve</a></li>
          <li class="footer__item"><a href="#">Join the team</a></li>
          <li class="footer__item"><a href="#">Blog</a></li>
        </ul>
      </div>
  
      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item"><a href="#">Contact us</a></li>
          <li class="footer__item"><a href="#">FAQs</a></li>
          <li class="footer__item"><a href="#">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__copyright">
    <span>© 2025 Allbright Home Services | All Rights Reserved</span>
  </div>
</footer>
