@use '../abstracts/variables' as *;

.footer {
  background-color: $background-dark;
  color: $secondary-text;
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  padding: $spacing-48 0 0 0;

  &__content {
    padding: 0 $spacing-64;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-32;

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &-img img {
      max-width: 100%;
      height: auto;
    }

    &-text {
      font-size: $font-size-20;
      font-weight: $font-weight-bold;
      color: $secondary-text;
      margin-left: $spacing-12;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  &__column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: $spacing-64;

    span {
      font-size: $font-size-20;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__list {
    list-style: none;

    a {
      text-decoration: none;
      color: $secondary-text;
      font-size: $font-size-20;
    }
  }

  &__item {
    margin-bottom: $spacing-12;
  }

  &__cta {
    margin-top: $spacing-32;

    .secondary-cta {
      margin-right: $spacing-16;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: $spacing-12;

    & > * {
      display: flex;
      align-items: center;
      font-size: $font-size-16;

      a {
        color: $secondary-text;
        text-decoration: none;
      }

      img {
        height: 3.2rem;
        margin-right: $spacing-8;
      }
    }
  }

  &__social {
    display: flex;
    gap: $spacing-16;
    margin-top: $spacing-12;

    img {
      height: 4rem;
    }
  }

  &__copyright {
    text-align: center;
    font-size: $font-size-16;
    margin-top: $spacing-48;
    padding: $spacing-16 0;
    background-color: $background-darker;
  }
}

@media (max-width: 1024px) {
  .footer {
    &__content {
      padding: 0 $spacing-24;
    }

    &__logo {
      justify-content: center;
      text-align: center;

      &-link {
        justify-content: center;
      }

      &-text {
        font-size: $font-size-16;
      }
    }

    &__links {
      display: inline-flex;
      justify-content: left;
      align-items: flex-start;
      transform: translateX(3vw);
      margin-right: auto;
    }

    &__column {
      display: flex;
      flex-direction: column;
      width: 20rem;
      margin-top: $spacing-32;
      text-align: left;
      margin-right: $spacing-40;

      &:nth-child(3) {
        margin-right: 0;
      }

      span {
        font-size: $font-size-14;
      }
    }

    &__list a {
      font-size: $font-size-14;
    }

    &__item {
      margin-bottom: $spacing-6;
    }

    &__cta {
      margin-top: $spacing-12;
    }

    &__contact {
      gap: $spacing-6;

      & > * {
        font-size: $font-size-14;

        img {
          height: 2.8rem;
        }
      }
    }

    &__social img {
      height: 3.2rem;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__content {
      padding: 0;
    }

    &__logo {
      justify-content: center;
      text-align: center;

      &-link {
        justify-content: center;
      }

      &-text {
        font-size: $font-size-14;
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: $spacing-24;
      width: 100%;
      transform: none;
    }

    &__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0;
      margin-bottom: $spacing-24;
      width: 20rem;
    }

    &__list a {
      font-size: $font-size-14;
    }

    &__item {
      margin-bottom: $spacing-4;
    }

    &__cta {
      margin-top: $spacing-4;
    }

    &__contact {
      gap: $spacing-4;

      & > * {
        font-size: $font-size-14;

        img {
          height: 2.4rem;
        }
      }
    }

    &__social img {
      height: 2.8rem;
    }
  }
}


