---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="agent-test">
    <elevenlabs-convai agent-id="agent_0401k66g1801frfvnvjndnx5bvcm"></elevenlabs-convai><script src="https://unpkg.com/@elevenlabs/convai-widget-embed" async type="text/javascript"></script>
  </div>
</BaseLayout>


<style>
  .agent-test{
    min-height: 90vh;
  }
</style>