---
import ShoppingLogic from '../components/ShoppingLogic'
import OneTimeLogic from '../components/OneTimeLogic'
import BaseLayout from '../layouts/BaseLayout.astro'
---
  <BaseLayout>
    <div class="shopping-logic">
      <ShoppingLogic client:only="react" />
    </div>
    <div class="shopping-logic">
      <OneTimeLogic client:only="react" />
    </div>
  </BaseLayout>
</div>

<style>
  *{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
  }

  .shopping-logic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 45vh;
  }

</style>
