---
import SectionHeading from '../../SectionHeading'

const title = `Cleaning for Better Living`
const subtitle = `Backed by decades of expertise and a legacy of trusted care, 
                  AllBright brings a higher level of refinement to home cleaning 
                  and maintenance. Discover why families throughout the South Bay 
                  rely on us.`
---


<div class="why-choose-us">
  <SectionHeading title={ title } subtitle={ subtitle }/>
  <div class="reasons">
    <div class="reasons__item">
      <div class="reasons__item-icon">
        <img src="/why-us/experience.png" alt="">
      </div>
      <div class="reasons__item-title">
        <p>Nearly 50 Years of Expertise</p>
      </div>
      <div class="reasons__item-description">
        <p>Since 1976, we've built a reputation for top-
           quality maintenance and home cleaning, always
           putting customers first.
        </p>
      </div>
    </div>
    <div class="reasons__item">
      <div class="reasons__item-icon">
        <img src="/why-us/home.png" alt="">
      </div>
      <div class="reasons__item-title">
        <p>Comprehensive Home Care</p>
      </div>
      <div class="reasons__item-description">
        <p>From Deep Cleaning to full maintenance, we
           offer tailored solutions to keep your home
           spotless and functional
        </p>
      </div>
    </div>
    <div class="reasons__item">
      <div class="reasons__item-icon">
        <img src="/why-us/sustainability.png" alt="">
      </div>
      <div class="reasons__item-title">
        <p>Sustainable and Precise</p>
      </div>
      <div class="reasons__item-description">
        <p>"Maintenance and Cleaning for Better
            living" is our promise. We use eco-friendly
            product and expert techniques.
        </p>
      </div>
    </div>
  </div>
  <div class="review-container">
    <div class="individual-review">
      <p>"Ernie's crew is awesome. Always on time and do
          even more than requested. Every cleaning I've
          had has been impeccable. Highly recommended!"
      </p>
      <div class="individual-review__info">
        <img src="/why-us/review-woman.jpg" alt="">
        <div class="individual-review__info-name">
          <p>Jilane M.</p>
          <p>Homeowner</p>
        </div>
      </div>
    </div>
  </div>
</div>
