---
import Head from "../components/layout/Head.astro";
import ResponsiveHeader from "../components/layout/ResponsiveHeader";
import Footer from "../components/layout/Footer.astro";
import "../styles/main.scss";

const { title } = Astro.props;
const baseTitle = "Allbright Home Services";
const fullTitle = title ? `${title} - ${baseTitle}` : baseTitle;
---

<html lang="en">
  <head>
    <Head title={fullTitle} />

    <script is:inline>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T99VMMT9');
    </script>

  </head>

  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T99VMMT9"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>


    <ResponsiveHeader client:only="react" />
    <slot />
    <Footer />


    <script>
      (function () {
        (window as any).chatbaseConfig = {
          showFloatingInitialMessages: true,
          floatingInitialMessagesDelay: 1
        };
        (window as any).embeddedChatbotConfig = {
          chatbotId: "QyXsFCkhAqyBY_4aUC8XK",
          domain: "www.chatbase.co"
        };
        if (!(window as any).chatbase || (window as any).chatbase("getState") !== "initialized") {
          (window as any).chatbase = (...args: any[]) => {
            if (!(window as any).chatbase.q) (window as any).chatbase.q = [];
            (window as any).chatbase.q.push(args);
          };
          (window as any).chatbase = new Proxy((window as any).chatbase, {
            get(target, prop) {
              if (prop === "q") return (target as any).q;
              return (...args: any[]) => (target as any)(prop, ...args);
            },
          });
        }
        const onLoad = function () {
          const script = document.createElement("script");
          script.src = "https://www.chatbase.co/embed.min.js";
          script.defer = true;
          script.setAttribute("chatbotId", "QyXsFCkhAqyBY_4aUC8XK");
          script.setAttribute("domain", "www.chatbase.co");
          script.onload = () => {
            (window as any).chatbase.setInitialMessages?.([
              "👋 Hi! Need pricing or help booking a cleaning? Ask me here."
            ]);
          };
          document.body.appendChild(script);
        };
        if (document.readyState === "complete") onLoad();
        else window.addEventListener("load", onLoad);
      })();
    </script>

    <div id="modal-root"></div>
  </body>
</html>
